.list {
  margin: 0;
  padding: 0;

  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
address {
  font-style: normal;
}
.img {
  display: block;

  max-width: 100%;
  height: auto;
}
body {
  margin: 0;
  font-family: "Oswald";
  font-weight: 400;
}
.container {
  width: 1155px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
.header {
  display: flex;
  padding-top: 10px;
  /* background-color: aquamarine; */
}
.header_logo {
  display: block;
}
.nav {
  display: flex;
  align-items: center;
}
.nav_link {
  display: flex;
  margin-left: auto;
}
.nav_link__item:not(:last-child) {
  margin-right: 40px;
}
.link {
  text-decoration: none;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;

  color: #150101;

  opacity: 0.6;
}
.header_bynow {
  margin-left: 170px;
  display: block;
}
/* .nav_link__item {
 
} */
.btn-bynow {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 165px;
  height: 49px;

  background: #d23166;
  border-radius: 5px;
  font-family: "Hind Madurai";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: #fafafa;
}

.section_hero {
  background-color: rgb(242, 206, 218, 0.3);
}
.section_hero__container {
  display: flex;
}
.hero-first-descr {
  margin-bottom: 6px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.1em;

  color: #0f0101;
}
.hero-title {
  margin-bottom: 35px;
  font-family: "Fredoka One";
  font-style: normal;
  font-weight: 400;
  font-size: 57.33px;
  line-height: 120.5%;
  /* or 69px */

  color: #0f0101;

  opacity: 0.9;
}
.hero-title_color {
  color: #d23166;
}
.hero-descr {
  margin-bottom: 50px;
  font-family: "Hind Madurai";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  /* or 150% */

  color: #0f0101;

  opacity: 0.6;
}
.left-content {
  margin-top: 285px;
  max-width: 665px;
}
.section-hero_bynow {
  margin-bottom: 210px;
}
.right-content {
  position: relative;
}
.section_hero__img {
  z-index: 2;
  position: absolute;
  top: 125px;
  left: 0;
}
.section_hero__item {
  z-index: 3;
  transform: rotate(4.79deg);
  position: absolute;
  top: 250px;
  left: -165px;
}
.section_hero__elips {
  z-index: 0;
  position: absolute;
  width: 365px;
  height: 353px;
  left: 100px;
  top: 410px;
  border-radius: 50%;
  background: #d23166;
  opacity: 0.1;
}
.section_hero__elipse {
  position: absolute;
  width: 173px;
  height: 15px;
  left: 150px;
  top: 790px;

  background: #edb5c7;
  opacity: 0.87;
  filter: blur(16px);
}

/* .section_features__container{
    display: flex;
} */
.features_set {
  margin-top: 11px;
  display: flex;
  justify-content: center;
}
.features_set__item:not(:last-child) {
  margin-right: 39px;
}
.features_set__item {
  padding-top: 33px;
  padding-bottom: 28px;
  padding-left: 26px;
  padding-right: 26px;

  background: #ffffff;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.03);
  border-radius: 7px;
  text-align: center;
}
.features_set__img {
  width: 40px;
  height: 40px;
  margin-bottom: 15px;
}
.section_features-title {
  margin-bottom: 10px;
  font-family: "Hind Madurai";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  /* identical to box height */

  color: #000000;
}
.features-descr {
  font-family: "Hind Madurai";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;

  color: #000000;

  opacity: 0.6;
}
.section_other {
  margin-top: 100px;
  background-color: rgb(242, 206, 218, 0.3);
}
.section_other__container {
  display: flex;
}
.section_other__left-content {
  margin-top: 140px;
}
.section_other__title {
  width: 349px;
  margin-bottom: 15px;
  font-family: "Hind Madurai";
  font-style: normal;
  font-weight: 600;
  font-size: 44.2px;
  line-height: 49px;

  color: #150101;
}
.section_other__descr {
  width: 442px;
  margin-bottom: 35px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* or 150% */

  color: #150101;

  opacity: 0.6;
}

.section-otherbtn {
  margin-bottom: 145px;
}
.section_other__right-content {
  position: relative;
}
.section_other__img {
  position: absolute;
  top: -40px;
  left: 130px;
  width: 600px;
  height: 600px;
}
.section_other__elipse {
  position: absolute;
  top: 430px;
  left: 280px;
  width: 283px;
  height: 27.07px;
  background: #edb5c7;
  opacity: 0.87;
  filter: blur(16px);
}

.section-product {
  margin-top: 135px;
}
.section-product_title {
  margin-bottom: 65px;
  font-family: "Hind Madurai";
  font-style: normal;
  font-weight: 600;
  font-size: 44.2px;
  line-height: 61px;
  color: #150101;
  text-align: center;
}
.product-nav_set {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.product-nav_set__item {
  position: relative;
}
.product-nav_set__item:not(:last-child) {
  margin-right: 40px;
}
.product-nav_set__link {
  text-decoration: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  /* identical to box height */
  color: rgba(0, 0, 0, 0.6);
}
.product-nav_set__link--active {
  color: rgba(0, 0, 0);
}
.product-nav_set__link--active::after {
  position: absolute;
  left: 0;
  bottom: -5px;
  display: block;
  content: "";
  width: 100%;
  border: 2px solid #d64374;
}

.product-set_item {
  display: flex;
}
.product-set_item:not(:last-child) {
  margin-bottom: 30px;
}
.product-item_descr-block {
  margin-top: 110px;
}
.left-block {
  margin-right: 85px;
}
.right-block {
  margin-left: 85px;
}
.product-item_img {
  margin-top: 50px;
}
.product-item_title {
  margin-bottom: 10px;
  font-family: "Hind Madurai";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 36px;
  /* identical to box height */

  color: #000000;
}
.product-item_descr {
  margin-bottom: 35px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* or 150% */

  color: #000000;

  opacity: 0.7;
}
.product-item_price {
  margin-bottom: 5px;
  font-family: "Hind Madurai";
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 36px;

  color: #000000;
}
.product-item_old-price {
  font-family: "Hind Madurai";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  text-decoration-line: line-through;
  color: #000000;
  opacity: 0.7;
}

.section-review_container {
  display: flex;
  justify-content: space-between;
  margin-top: 110px;
  margin-bottom: 135px;
}

.review-block_left {
  display: flex;
  align-items: center;
  margin-top: 95px;
}
.name-block {
  margin-left: 20px;
}
.name-block__name {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}
.name-block__country {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;

  color: #000000;
  opacity: 0.7;
}
.name-block__descr {
  margin-top: 50px;
  margin-bottom: 55px;
  width: 330px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* or 150% */
  color: #000000;
  opacity: 0.7;
}
.quotes {
  font-family: "Hind Madurai";
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  color: #f6762c;
}
.quotes-left {
  margin-right: 5px;
}
.quotes-right {
  margin-left: 5px;
}
.karusel {
  display: flex;
  align-items: center;
}
.reviewer_img,
.reviewer_img-left {
  cursor: pointer;
}
.reviewer_img:not(:last-child) {
  margin-right: 27px;
}
.reviewer_img--activ {
  border-radius: 50%;
  border: 1px solid #d64374;
}
.arrow {
  text-decoration: none;
  font-family: "Hind Madurai";
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  color: #000000;
}
.arrow-left {
  margin-right: 27px;
}

.section-order {
  background-color: rgb(242, 206, 218, 0.3);
}
.section-order_container {
  display: flex;
  /* position: relative; */
}
.order_img {
  position: relative;
  top: 50px;
  margin-right: 135px;
}
.order-block {
  margin-top: 50px;
}
.order-block_title {
  margin-bottom: 20px;
  width: 620px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 44.2px;
  line-height: 52px;
  color: #000000;
}
.order-block_descr {
  margin-bottom: 30px;
  width: 607px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.01em;
  color: #0f0101;
  opacity: 0.7;
}
.order-set_item:not(:last-child) {
  margin-bottom: 20px;
}
.order-set_item {
  position: relative;
}
.order-set_item::before {
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  content: "";
  width: 30px;
  height: 30px;
  background-color: #fafafa;
  border-radius: 3px;
}
.order-set_item1 {
  margin-left: 40px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  /* identical to box height */
  color: #000000;
}
.app {
  margin-top: 40px;
  margin-bottom: 150px;
}
.app_img {
  border-radius: 10px;
}
.app_img:not(:last-child) {
  margin-right: 20px;
}

.section-support {
  margin-top: 190px;
  margin-bottom: 130px;
}
.section-support_title {
  margin: 0 auto;
  margin-bottom: 30px;
  width: 522px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  text-align: center;
  color: #000000;
}
.support-input {
  padding-left: 30px;
  width: 637px;
  height: 74px;
  background: #fafafa;
  border-radius: 5px 0px 0px 5px;
  border: 1px solid #fafafa;
  /* border: 1px solid #090202; */
}
.support-input::placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;

  color: #0f0000;

  opacity: 0.6;
}
.send-btn {
  width: 134px;
  height: 74px;
  border: none;
  cursor: pointer;
  border-radius: 0px 5px 5px 0px;
}
.section-support_form {
  display: flex;
  justify-content: center;
}

.footer {
  padding-top: 70px;
  padding-bottom: 105px;
  background-color: #0a0808;
}
.footer-container {
  display: flex;
  justify-content: space-between;
}
.follow-us_descr {
  margin-bottom: 25px;
  width: 207px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 17px;
  letter-spacing: 0.01em;

  color: #ffffff;

  opacity: 0.7;
}
.follow-us_follow-us {
  margin-bottom: 8px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  /* identical to box height */

  color: #ffffff;
}
.follow-us_set {
  display: flex;
}
.follow-us_set__item:not(:last-child) {
  margin-right: 10px;
}
.footer-nav_set__item:not(:last-child) {
  margin-bottom: 10px;
}
.footer-nav_set__link {
  text-decoration: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  /* identical to box height */
  color: #ffffff;
  opacity: 0.7;
}
.footer-form {
  display: flex;
  margin-bottom: 15px;
}
.footer-form_input {
  padding-left: 30px;
  width: 260px;
  height: 55px;
  opacity: 0.5;
  background-color: inherit;
  border-radius: 5px 0px 0px 5px;
  border: 1px solid #fafafa;
}
.footer-form_input::placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  opacity: 0.6;
}
.subscribe-btn {
  width: 125px;
  height: 55px;
  border-radius: 0px 5px 5px 0px;
  border: none;
  cursor: pointer;
}
.form-container_descr {
  margin-bottom: 13px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */

  color: #ffffff;
}
.pay-set{
display: flex;
}
.pay-set_item{
    cursor: pointer;
}
.pay-set_item:not(:last-child){
margin-right: 15px;
}